@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Ahorcado</h1>
    <p>¡Juega al juego del ahorcado haciendo clic en el botón de abajo!</p>
    <a href="@Url.Action("Ahorcado", "Home")" class="btn btn-primary">Comenzar Juego</a>
</div>
